<script>
  function handleJoin() {
    var gameName = document.getElementById("input").value;
    window.location.href='/game/' + gameName
  }
</script>

<div class="row">
  <div class="column">
    <h1 id="index-page">Join Game</h1>
    <input id="input" type="text" name="game"/>
    <button class="center" onClick="handleJoin()">Join</button>
  </div>
</div>
